.card {
    border: none;
}

/* .card {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 9.91px 9.91px 15px #f2f4f7, inset -9.91px -9.91px 15px #FFFFFF;
    border: none;

}

.card-img-top {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.page-link {
    margin: 10px;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    background: #f0f0f0;
    box-shadow: inset 9.91px 9.91px 15px #f0f0f0, inset -9.91px -9.91px 15px #FFFFFF;
    border: none;
} */